<div>
  <form [formGroup]="myForm" novalidate>
    <ion-input
      type="text"
      placeholder="Nombre del curso"
      formControlName="curso"
    ></ion-input>
    <ion-input
      type="number"
      placeholder="Puntuacion"
      formControlName="puntuacion"
    ></ion-input>
    <ion-button shape="round" (click)="takePic()" [ngClass]="{'primary':!hayFoto, 'success':hayFoto}" #btn>
      📷
    </ion-button>
    <ion-button shape="round" (click)="mostrarAlerta(this.curso,this.puntuacion)" >
      add
    </ion-button>
  </form>
</div>
