<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-icon name="trash-bin-outline" slot="end" class="ion-padding" color="primary"(click)="eliminarCurso(curso.nombre)" [routerLink]="['']"></ion-icon>
    <ion-title>Detalles</ion-title>
  </ion-toolbar>
</ion-header>

<ion-grid >
  <ion-row>
    <ion-card >
      <ion-img [src]="urlImagen" #img></ion-img>
      <ion-card-header>
        <ion-card-title>{{curso.nombre}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-col size="6"><label>Puntuacion: {{curso.puntuacion}}</label></ion-col>
      </ion-card-content>
    </ion-card>
  </ion-row>
</ion-grid>
